<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>品牌管理</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
            width: 850px;
        }
        
        .container .form-inline {
            margin-bottom: 20px;
        }
        
        .table.table-bordered th,
        .table.table-bordered td {
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>

<body>
    <div class="container">
        <form class="form-inline">
            <div class="form-group">
                <label>名称</label>
                <input type="text" class="form-control" v-model="name">
            </div>
            <div class="form-group">
                <label>描述</label>
                <input type="text" class="form-control" v-model="desc" @keyup.enter.exact="addData">
            </div>
            <button type="button" class="btn btn-primary" @click="addData">添加</button>
        </form>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th width="10%">序号</th>
                    <th width="20%">名称</th>
                    <th width="30%">描述</th>
                    <th width="30%">创建时间</th>
                    <th width="10%">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item,i in carData" :key="item.id">
                    <td>{{i+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.desc}}</td>
                    <td>{{item.date}}</td>
                    <td><a href="#" @click.prevent="del(item.id)">删除</a></td>
                </tr>
            </tbody>
        </table>
    </div>


</body>
<!-- 第一步 先引入vuejs文件 -->
<script src="vue.js"></script>
<script>
    // 1 根据数据渲染列表
    // 2 添加数据功能
    // 3 删除功能

    // 第二步创建vue实例
    let vm = new Vue({
        el: ".container",
        data: {
            name: "",
            desc: "",
            carData: [{
                id: 1,
                name: "丰田",
                desc: "车到山前必有路，有路就有丰田车",
                date: new Date()
            }, {
                id: 2,
                name: "本田",
                desc: "The Power of Dreams-梦想的力量",
                date: new Date()
            }, {
                id: 3,
                name: "宝马",
                desc: "驾乘乐趣，创新极限",
                date: new Date()
            }]
        },
        methods: {
            addData() {
                // 为空校验
                if ((!this.name.trim()) || (!this.desc.trim())) return alert("请填写完成数据");

                // 添加数据
                this.carData.push({
                    id: this.carData.length + 1,
                    name: this.name,
                    desc: this.desc,
                    date: new Date()
                });
                this.name = '';
                this.desc = '';
            },
            del(id) {
                // 根据当前的项的id来删除这一条数据
                // find  findIndex
                let idx = this.carData.findIndex((item) => item.id === id);
                this.carData.splice(idx, 1);
            }
        }
    })
</script>

</html>