<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bootstrap.min.css">
    <title>Document</title>
    <style>
        .container {
            margin-top: 50px;
            width: 850px;
        }

        .container .form-inline {
            margin-bottom: 20px;
        }

        .table.table-bordered th,
        .table.table-bordered td {
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>

<body>
    <div class="container">
        <form class="form-inline">
            <div class="form-group">
                <label>名称</label>
                <input type="text" class="form-control" v-model="name">
            </div>
            <div class="form-group">
                <label>描述</label>
                <input type="text" class="form-control" v-model="desc" v-on:keydown.enter.exact="add">
            </div>
            <button type="button" class="btn btn-primary" v-on:click="add">添加</button>
        </form>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="10%">序号</th>
                    <th width="20%">名称</th>
                    <th width="30%">描述</th>
                    <th width="30%">创建时间</th>
                    <th width="10%">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-if="tips.length==0">
                    <td colspan="5">当前没有信息</td>
                </tr>
                <tr else v-for="item,i in tips" :key="item.id" :style="{backgroundColor: i%2==0?'#f1f1f1':'white'}">
                    <td>{{i+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.desc}}</td>
                    <td>{{item.date | timeFilter}}</td>
                    <td><a href="#" @click.prevent="del(item.id)">删除</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="vue.js"></script>
<script src="../node_modules/moment/moment.js"></script>
<script>
    Vue.filter("timeFilter", (date, defaultFormat="YYYY年MM月DD日 HH:mm:ss")=>{
        return moment(date).format(defaultFormat)
    })
    let vm = new Vue({
        el: ".container",
        data: {
            name: "",
            desc: "",
            tips: [{
                    id: 1,
                    name: "9527",
                    desc: "八目共赏,赏花赏月赏秋香",
                    date: new Date().getTime()
                },
                {
                    id: 2,
                    name: "阿漆",
                    desc: "杀猪刀",
                    date: new Date().getTime()
                },
                {
                    id: 3,
                    name: "阿星",
                    desc: "今晚打老虎",
                    date: new Date().getTime()
                },
            ]
        },
        methods: {
            add() {
                if (this.name.trim() && this.desc.trim()) {
                    this.tips.push({
                        id: this.tips[this.tips.length - 1] + 1,
                        name: this.name,
                        desc: this.desc,
                        date: new Date().getTime()
                    })
                } else {
                    alert("请输入正确的名称与描述")
                };
                this.name = "";
                this.desc = ""
            },
            del(idx) {
                this.tips.forEach((e,i) => {
                    if(e.id === idx){
                        this.tips.splice(i,1)
                    }
                });
            }
        }
    })
</script>

</html>